body {
  background-color: $gray-lighter;
  &.dark {
    background-color: #000;
  }
}

.layout {
  background-color: $bg-color-light;
  margin: 0 auto;
  overflow-y: auto;
  max-width: $layout-max-width;
}


// In order to push the footer down
//-------------------------------------------
html,
body,
.region-site {
  height: 100%; 
}
// Since Marionette adds an extra div when rendering
.region-site > div { // Dirty hack
  height: 100%; 
}

.layout {
  min-height: 100%;
  position: relative
}


// Helpers 
//--------------------------------------------
.margin-p {
  margin-bottom: ($line-height-computed / 2);
}