body {
  background-color: $gray-lighter;
  &.dark {
    background-color: #000;
  }
}

.layout {
  background-color: $bg-color-light;
  margin: 0 auto;
  overflow-y: auto;
  max-width: $layout-max-width;
}

.section {
  margin: 50px 0;
  @media (max-width: $screen-xs-max) {
    margin: 25px 0;
  }
}


.section-page,
.section-main,
.section-aside {
  margin-top: 0;
}


// In order to push the footer down
//-------------------------------------------
html,
body,
.region-site {
  height: 100%; 
}
// Since Marionette adds an extra div when rendering
.region-site > div { // Dirty hack
  height: 100%; 
}

.layout {
  min-height: 100%;
  position: relative
}

// Sticky footer layout alternative
//------------------------------------------
@media (min-width: $screen-sm-min) {
  .layout-sticky-footer {
    padding-bottom: $sticky-footer-height;
 
    .section-footer {
      bottom: 0;
      height: $sticky-footer-height;
      position: absolute;
      width: 100%;
    }
  }  
}

// Vertical alignment helpers 
// only to be used on col-* 
// http://stackoverflow.com/questions/1097006/removing-whitespace-between-html-elements-when-using-line-breaks
// http://css-tricks.com/fighting-the-space-between-inline-block-elements/
//--------------------------------------
.vertical-top,
.vertical-center,
.vertical-bottom {
  display: inline-block;
  float: none;
  margin-right: -4px;
}
.vertical-top {
  vertical-align: top;
}
.vertical-center {
  vertical-align: center;
}
.vertical-bottom {
  vertical-align: bottom;
}
