// Paths
// ----------------------------------------------------------

// App
// -------------------------
$app-font-path: "../fonts/";
$app-img-path: "../img/";

// Fontello font
// -------------------------
$fontello-font-path:   "../fonts/fontello/font/";

// Bootstrap font
// -------------------------
$icon-font-path: "../fonts/bootstrap/";


//-----------------------------------------------------------
// App
//-----------------------------------------------------------
$font-weight: 300;

$layout-max-width: 1800px;


$header-height: 50px;
$footer-height: 30px;


$bg-color-light: #fff;
$bg-color-dark: #282d2d;



// ----------------------------------------------------------
// Bootstrap overwrites
// ----------------------------------------------------------

// Brand colors
// -------------------------
// $brand-primary: #E6C319;
// $text-color: #333;
// $gray-lighter: #ccc; // instead of #eee

// Links
// -------------------------
// $link-color: $text-color;
// $link-hover-color: lighten($text-color, 10%);

// Typography
// -------------------------
$font-family-sans-serif: "Lato", sans-serif;
// $font-size-base: 13px;
// $font-size-large: 21px;

$headings-font-weight: 700;

// Components
// -------------------------
// $border-radius-base: 3px;
// $border-radius-large: 3px;
// $border-radius-small: 3px;

// Buttons
// -------------------------

// $btn-font-weight: 300;