// Paths
// ----------------------------------------------------------

// App
// -------------------------
$app-font-path: "../fonts/";
$app-img-path: "../img/";

// Fontello font
// -------------------------
$fontello-font-path:   "../fonts/fontello/font/";

// Bootstrap font
// -------------------------
$icon-font-path: "../fonts/bootstrap/";


//-----------------------------------------------------------
// App
//-----------------------------------------------------------
$font-weight: 300;

$layout-max-width: 1800px;

$header-height: 50px;
$footer-height: 30px;

$bg-color-light: #fff;
$bg-color-brand: #a8ccea;



// ----------------------------------------------------------
// Bootstrap overwrites
// ----------------------------------------------------------

// Brand colors
// -------------------------
$brand-primary: #6ab0ea;

// Typography
// -------------------------
$font-family-sans-serif: "Lato", sans-serif;
$headings-font-weight: 700;