//-- Bootstrap override
//----------------------------------------
body {
  font-weight: $font-weight;
}


//-- Links variant
//----------------------------------------
a.link-inverted {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
a.link-color {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}