
<div class="topbar fixedbar">
  <div class="container">
    <div class="pull-left">
      AppDirect
    </div>
  </div>
</div>

<!-- <nav class="menu-main">
  <div class="container">
    <ul class="nav navbar-nav pull-right">
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav> -->