<div class="layout layout-main">

  <header class="header section section-header section-header-main"></header>

  <section class="section section-page section-page-main region-page"></section>

  <footer class="footer section section-footer section-footer-main"></footer>

</div>