// Footer

.section-footer-main {
  background-color: $bg-color-brand;
  bottom: 0;
  font-size: $font-size-small;
  height: $footer-height;
  line-height: $footer-height;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 100;
  @include border-top-left-radius($border-radius-base);
  a {
    color: $text-color;
  }
}