// Footer

.section-footer {
  background-color: #a8ccea;
  // border-top: 1px solid rgba(0,0,0,0.3);
  bottom: 0;
  color: #000;
  font-size: $font-size-small;
  height: $footer-height;
  line-height: $footer-height;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 100;
  @include border-top-left-radius(5px);
}