// Media
//------------------------------------------------
.media {
  img {
    height: auto;
    width: 100%;
  }
}

.media-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
